pillow~=10.4.0
python-dotenv~=1.0.1
fastapi
requests~=2.32.3
starlette
uvicorn
cffi~=1.16.0
typing_extensions
numpy~=1.26.4
tqdm~=4.66.4
pyyaml
aiohttp
onnxruntime~=1.18.1
psutil~=6.0.0
onnx~=1.16.1
httpx
chromadb
pysqlite3-binary